
<nav>
    <div class="nav-wrapper">
        <a href="/templates/initial.html" class="brand-logo">Recipe Master</a>
        <ul id="nav" class="">
            <li><a href="/templates/grocery-list.html">Grocery Assistant</a></li>
            <li><a href="/templates/savedReceipes.html">Your Recipes</a></li>
            <li><a href="/templates/pantry.html">Pantry</a></li>
        </ul>
        <img a href="/templates/userAccount.html" src="/templates/img/profile.png" class="profile-img">
    </div>
</nav>

